@import './globals.css';
@import './window.css';

body {
  font-family:
    system-ui,
    -apple-system,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 14px;
  margin: 0;
  overflow: hidden;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  line-height: 1.4;
}

/* Apply dark mode by default */
html {
  color-scheme: dark;
}

:root {
  color-scheme: dark;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
